{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ poll.topic }}</title>
</head>
<body>
<h2>{{ poll.topic }}: {{ poll.description }}</h2>
<strong>was posted at the {{ poll.date_posted }}<br>will be available until the {{ poll.date_expires }}</strong>
<br><br>
<h3>Questions</h3>
<form method="POST" action="/send_answers/">
{% csrf_token %}
    {% for header, question in poll.questions.items %}
        <strong>{{ question }}</strong><br>
        <input type="text" name="{{ header }}" placeholder="type your answer here"><br>
    {% endfor %}
<input type="hidden" name="id" value={{ poll.id }}>
<input type="submit" value="enter" />
</form>

</body>
</html>