{% load static %}
<html lang="">
<head>
    <title>New poll</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static "new_poll/styles.css"%}" media="screen" />
    <script src="{% static "new_poll/script.js"%}"></script>
</head>
<body>
    <form method="POST" action="/submit_poll/">
        {% csrf_token %}
        <label>
            <div id="poll">
                <input type="text" name="name" placeholder="your name" />
                <input type="text" name="topic" placeholder="poll's topic"/>
                <input type="text" name="description" placeholder="poll's description"/>
            </div>
            <button type="button" name="add_to_poll" value="add" onclick="Function()">add question</button>
            <input type="submit" value="enter" />
        </label>
    </form>
<div class="placeholder"></div>
    <div class="placeholder"></div>
</body>
</html>